.no007{
  padding: 150px 0 0 0;
  background: linear-gradient(30deg,#1aa2a0,#888888);
  .container{
    width: 100%;
    display: flex;
    margin: auto;
  }

  .footer-item{
    width: 0;
    flex-grow: 1;
    margin: 0 20px;

    nav{
      display: flex;
      flex-direction: column;
    }

    h2{
      font-size: 24px;
      color: #fff;
      border-bottom: 1px solid #fff;
      margin-bottom: .5em;
      padding-bottom: .5em;
    }

    a{
      padding: 5px 0;
      line-height: 1.4;
      text-decoration: none;
      color: #fff;

      &:hover{
        color: #fe8556;
      }
    }


  }
  .footer-subs{
    display: flex;
    flex-direction: column;
    form {
      width: 100%;
      display: flex;
      margin: auto 0;

      input[type='text'] {
        width: 0;
        flex-grow: 1;
      }

      input[type='submit'] {
        color: #fff;
        background: #3d5491;
      }
    }
  }


  .copyright{
    margin: 150px 0 0 0;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(-20deg,#336666,#484891);
    color: #1aa2a0;
  }
}