* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.next-btn{
  padding: 10px 20px;
  background: linear-gradient(30deg,#e7597f,#fdaecb);
  position: fixed;
  right: 50px;
  bottom: 30px;
  border: 1px solid azure;
  text-decoration: none;
  z-index: 2;
}
